<div class="container">
  <mat-list>

    <mat-list-item>
      <button mat-button>play</button>
      <button mat-button>pause</button>
      <button mat-button>stop</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button>prev</button>
      <button mat-button>next</button>
      <button mat-button>repeat</button>
    </mat-list-item>

    <mat-list-item>
      <audio loop="loop" autoplay="autoplay" preload="none">
        <source src="http://localhost:8000/mpd.flac" type="audio/flac"/>
      </audio>
    </mat-list-item>

    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start stretch"  fxLayoutGap="20px" class="content">
    		<div class="blocks" fxFlex = "50%">
          <app-playlist></app-playlist>
        </div>
    		<div class="blocks" fxFlex = "50%">
          <app-database-search></app-database-search>
        </div>
    	</div>
    </mat-list-item>

  </mat-list>
</div>
